<div class="d-flex flex-column h-100">
  <div class="flex-shrink-0">
    <div>
      <mat-toolbar>
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle()" *ngIf="isScreenSmall" style="padding-right:5px ;">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="spacer"></span>
          <div class="contact-info">
            <mat-icon>phone</mat-icon>
            <span>123456789</span>
          </div>
          <div class="email-link emailmargin">
            <mat-icon>mail</mat-icon>
            <a href="mailto:example@gmail.com" class="email-link">example@gmail.com</a>
          </div>
      </mat-toolbar>    
    </div>
  </div>

  <div class="d-flex flex-grow-1 overflow-hidden" >
    <mat-sidenav-container>
      <mat-sidenav #sidenav [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall" style="width: 260px;">
        <mat-nav-list> 
          <a mat-list-item (click)="closeSidenav()" [routerLink]="['/component/home']">Home</a>
          <a mat-list-item (click)="closeSidenav()" [routerLink]="['/component/add']">Add Employee</a>
          <a mat-list-item >view employee</a>
          <a mat-list-item>about</a>
          <a mat-list-item>contact</a>
        </mat-nav-list>          
      </mat-sidenav>
      
      <mat-sidenav-content class="content flex-grow-1">
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>